################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/1DS.JavaScript.SampleApps.React/v15
/node_modules
/dist-esm
/bundle
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
